@using MVCWebApplication1.Models

@model IEnumerable<MVCWebApplication1.Models.Employee>
@{
    Layout = null;
}

<!DOCTYPE html>

<html width="80%" style="background-color:cadetblue">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List Countries</title>
</head>
<body>
    <table align="center" border="1" style="border-collapse:collapse">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Salary</th>
            <th>Department</th>
        </tr>
        @foreach(Employee emp in Model)
        {
        <tr>
            <td>@emp.EmployeeId</td>
            <td>@emp.Name</td>
            <td>@emp.Salary</td>
            <td>@emp.Department</td>
        </tr>
        }
    </table>
</body>
</html>
